.sectionMain {
    min-height: 100vh;
    @include atSmall {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
    }

    &__character {
        background-color: $color-primary;
        background-image: linear-gradient(to bottom right, $color-primary, $color-secondary);
        min-height: 100vh;
        @include atSmall {
            height: auto;
            flex: 1 1 50%;
        }
    }

    &__search {
        box-shadow: -5px 0 10px rgba($color-black, .125);
        position: relative;
        z-index: 1;
        padding: 2rem;
        @include atSmall {
            flex: 1 1 50%;
            padding: 3rem;
        }
    }
}