.characterInfo {
    padding: 2.5rem;

    &__group {
        & + & {
            margin-top: 3.333rem;
            @include atSmall {
                margin-top: 2.5rem;
            }
        }

        &--main {
            display: flex;
            justify-content: center;
        }
    }

    &__data {
        text-align: center;
        flex: 1;

        & + & {
            border-left: 2px solid $color-white;
        }
    }

    &__definition {
        text-transform: capitalize;
    }
}