.characterBox {
    padding: 1.333rem;
    background-color: $color-white;
    box-shadow: 0 0 10px rgba($color-black, .125);
    flex: 0 1 45%;
    text-align: center;
    border-radius: .5rem;
    cursor: pointer;
    margin-bottom: 3rem;
    transition: all .25s;
    @include atLarge {
        flex: 0 1 30%;
    }

    &:hover {
        background-image: linear-gradient(to bottom right, $color-primary, $color-secondary);
        
        h3,
        p {
            color: $color-white;
        }
    }
}